.taskDiv {
  font-size: large;
  width: 95%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task{
  width: 90%;
  margin-left: 10%;
}

.todoList{
  border-bottom: 1px solid grey;
  background: transparent;
}

.checkbox{
  width: 20px;
  height: 20px;
  accent-color: green;
  
}

.menu{
  color: black;
  top:10;
  left:0;
}

.popup{
  background-color: white;
  position: relative;
}